extends ./layout/index 
block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros imagen", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quos nulla, ipsa ratione cum similique eum vero molestias quasi tempore fugiat obcaecati laborum reprehenderit ex ab inventore, dolores, nobis maxime praesentium. Facilis, architecto quae similique, provident tenetur quod ipsum aliquid 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quos nulla, ipsa ratione cum similique eum vero molestias quasi tempore fugiat obcaecati laborum reprehenderit ex ab inventore, dolores, nobis maxime praesentium. Facilis, architecto quae similique, provident tenetur quod ipsum aliquid 
                p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quos nulla, ipsa ratione cum similique eum vero molestias quasi tempore fugiat obcaecati laborum reprehenderit ex ab inventore, dolores, nobis maxime praesentium. Facilis, architecto quae similique, provident tenetur quod ipsum aliquid 
    .listado-iconos 
        .container.mt-5.py-5.text-center  
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quisquam quaerat sunt nihil nemo perspiciatis earum asperiores facilis corporis! Rerum nobis esse vel tempora ducimus nostrum veritatis optio consectetur eos?
                    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quisquam quaerat sunt nihil nemo perspiciatis earum asperiores facilis corporis! Rerum nobis esse vel tempora ducimus nostrum veritatis optio consectetur eos?
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quisquam quaerat sunt nihil nemo perspiciatis earum asperiores facilis corporis! Rerum nobis esse vel tempora ducimus nostrum veritatis optio consectetur eos?
